* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  background-color: black;
  text-align: center;
  min-height: 100vh;
  width: 100vw;
}

#load {
  position: absolute;
  text-align: center;
  left: 50%;
  right: 50%;
}
.header .logo {
  fill: #e4f82b;
  width: 100%;
  max-width: 45rem;
}
.container {
  position: relative;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}
.chi {
  height: 50vh;
  display: grid;
  place-items: center;
}
.box {
  padding: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 15px;
  color: whitesmoke;
}
.up,
.second,
.third {
  margin-bottom: 20px;
}

.third p {
  margin-top: 10px;
}
.third {
  border-top: 2px solid #e4f82b;
}
.third a {
  color: #e4f82b;
}
.box h2 {
  text-align: left;
  font-family: "Star Jedi", "Open Sans", "sans-serif";
}
.box p {
  text-align: left;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
@media screen and (max-width: 764px) {
  .container {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 765px) and (max-width: 1040px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}
